<a href="https://colab.research.google.com/github/victoralves87/AnaliseDeDados_Udemy/blob/main/Exercicio1Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [ ]:
#importar dados"
dataset = pd.read_csv("/home/victor87/Área de trabalho/ciência de dados/tempo.csv", sep=";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [ ]:
dataset.shape

(14, 5)

In [ ]:
#contamos valores NAN
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [ ]:
agrupado = dataset.groupby(["Temperatura"]).size()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

    A TEMPERATURA TEM QUE ESTA ENTRE -130F ~ 130F

In [ ]:
#visualizando onde as temperaturas são menores que -130 e maiores que 130

dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [ ]:
#calculando mediana
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [ ]:
# Substituindo valores fora do padrão pela mediana
mediana = float(mediana)
dataset.loc[(dataset['Temperatura'] < -130 ) | (dataset['Temperatura'] > 130), 'Temperatura'] = mediana

In [ ]:
#visualizando onde as temperaturas são menores que -130 e maiores que 130
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

    A UMIDADE TEM QUE ESTÁ ENTRE 0 E 100 && REMOVENDO NUMEROS Nas

In [ ]:
#contando valores NAN
dataset['Umidade'].isnull().sum()

1

In [ ]:
#calculando a mediana
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [ ]:
#substituindo valores nulos pela mediana
dataset['Umidade'] = dataset['Umidade'].fillna(mediana)

In [ ]:
#contando valores NAN
dataset['Umidade'].isnull().sum()

0

In [ ]:
agrupado = dataset.groupby(["Umidade"]).size()
agrupado

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
85.5     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [ ]:
#visualizando se as umidades estão entre 0 e 100
dataset.loc[(dataset['Umidade'] <  0 )  | ( dataset['Umidade'] >  100) ]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva         75.0    200.0   NaN   sim

In [ ]:
# Substituindo valores fora do padrão pela mediana
mediana = float(mediana)
dataset.loc[(dataset['Umidade'] < 0 ) | (dataset['Umidade'] > 100), 'Umidade'] = mediana

In [ ]:
#visualizando se as umidades estão entre 0 e 100
dataset.loc[(dataset['Umidade'] <  0 )  | ( dataset['Umidade'] >  100) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []